@import "tailwindcss";

:root {
  --text: #130708;
  --background: #fcf3f5;
  --primary: #6c1323;
  --secondary: #f16f87;
  --accent: #f2072f;
}

:root[data-theme="dark"] {
  --text: #f8ebed;
  --background: #0c0305;
  --primary: #ec92a2;
  --secondary: #910e25;
  --accent: #f80c35;
}

@theme inline {
  --color-text: var(--text);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
